<?xml version="1.0"?>
<launch>
 
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <!--include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robotic_polishing)/worlds/camerakinect.world"/>
  </include>

 <! Loads the Gazebo world. -->

	<arg name="rosbag" default = "false"/> 

    	<include file="$(find iiwa_gazebo)/launch/iiwa_gazebo.launch">
    	</include>
    
        <node pkg="robotic_polishing" type="talkerpcl" name="talker">
	</node>

	<group if="$(arg rosbag)">
        <node name="record_topics_for_verification" pkg="rosbag" type="record" args="-a -x /camera/(.*)|/camera_ir/(.*)" output="screen"/>
	</group>


</launch>
